ui-accordion {
  display: block;
  width: 100%;
}

ui-accordion-item {
  display: grid;
  grid-template-rows: min-content 0fr;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  transition: grid-template-rows 300ms ease-in-out;
}

ui-accordion-item slot[name="trigger"] {
  display: block;
  cursor: pointer;
}

ui-accordion-item::part(content) {
  overflow: hidden;
  background-color: #f9fafb;
}

ui-accordion-item[open] {
  grid-template-rows: min-content 1fr;
}

