__PREFIX__-__COMPONENT__ {
  position: relative;
  width: 100%;
  border-radius: var(--capsule-radius);
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 12px;
  align-items: flex-start;
  padding: var(--capsule-padding-lg);
  font-size: var(--capsule-font-size-sm);
  background-color: color-mix(
    in srgb,
    var(--capsule-color-primary) 8%,
    var(--capsule-color-background)
  );
  border-color: var(--capsule-color-primary);
  color: var(--capsule-color-primary);
  box-sizing: border-box;
}

__PREFIX__-__COMPONENT__:has(> svg) {
  grid-template-columns: auto 1fr;
}

__PREFIX__-__COMPONENT__ > :not(svg) {
  grid-column: 2;
}

__PREFIX__-__COMPONENT__ > svg {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  margin-top: 2px;
}

__PREFIX__-__COMPONENT__[variant='default'] {
  background-color: color-mix(
    in srgb,
    var(--capsule-color-primary) 8%,
    var(--capsule-color-background)
  );
  border-color: var(--capsule-color-primary);
  color: var(--capsule-color-primary);
}

__PREFIX__-__COMPONENT__[variant='error'] {
  background-color: color-mix(
    in srgb,
    var(--capsule-color-error) 8%,
    var(--capsule-color-background)
  );
  border-color: var(--capsule-color-error);
  color: var(--capsule-color-error);
}

__PREFIX__-__COMPONENT__[variant='warning'] {
  background-color: color-mix(
    in srgb,
    var(--capsule-color-warning) 8%,
    var(--capsule-color-background)
  );
  border-color: var(--capsule-color-warning);
  color: var(--capsule-color-warning);
}

__PREFIX__-__COMPONENT__[variant='success'] {
  background-color: color-mix(
    in srgb,
    var(--capsule-color-success) 8%,
    var(--capsule-color-background)
  );
  border-color: var(--capsule-color-success);
  color: var(--capsule-color-success);
}

__PREFIX__-__COMPONENT__[variant='info'] {
  background-color: color-mix(
    in srgb,
    var(--capsule-color-info) 8%,
    var(--capsule-color-background)
  );
  border-color: var(--capsule-color-info);
  color: var(--capsule-color-info);
}

__PREFIX__-__COMPONENT__-title {
  display: block;
  margin: 0;
  margin-bottom: var(--capsule-margin-xs);
  font-weight: 600;
}

__PREFIX__-__COMPONENT__-description {
  display: block;
  margin: 0;
}
