__PREFIX__-__COMPONENT__ {
  display: inline-flex;
  position: relative;
  flex-direction: column;
}

__PREFIX__-__COMPONENT__-options {
  display: none;
}
__PREFIX__-__COMPONENT__:focus-within __PREFIX__-__COMPONENT__-options {
  display: block;
}
