capsule-divider {
  display: flex;
  margin: var(--capsule-margin-sm) 0;
  padding: 0;
  border: none;
  background-color: var(--capsule-color-outline-border);
  flex-shrink: 0;
}

capsule-divider,
capsule-divider[orientation='horizontal'] {
  height: 1px;
  width: 100%;
}

capsule-divider[orientation='vertical'] {
  width: 1px;
  height: 100%;
  margin: 0 var(--capsule-margin-sm);
}
