capsule-skeleton {
  display: block;
  background-color: color-mix(
    in srgb,
    var(--capsule-color-text) 15%,
    transparent
  );
  border-radius: var(--capsule-radius-sm);
  animation: capsule-skeleton-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes capsule-skeleton-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

capsule-skeleton,
capsule-skeleton[variant='rectangular'] {
  width: 100%;
  height: 4rem;
}

capsule-skeleton[variant='text'] {
  height: 1rem;
  width: 100%;
}

capsule-skeleton[variant='circular'] {
  border-radius: var(--capsule-radius-full);
  width: 2rem;
  height: 2rem;
}
