__PREFIX__-__COMPONENT__ {
  width: 100%;
  overflow: hidden;
}

__PREFIX__-__COMPONENT__::part(panels-container) {
  overflow: hidden;
  position: relative;
}

__PREFIX__-__COMPONENT__-list {
  display: flex;
  border-bottom: 1px solid var(--capsule-color-outline-variant);
  margin-bottom: var(--capsule-margin-md);
  gap: 1rem;
}

__PREFIX__-__COMPONENT__-trigger::part(trigger) {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: var(--capsule-color-text-secondary);
  font-weight: var(--capsule-font-weight-medium);
  transition: var(--capsule-transition);
}

__PREFIX__-__COMPONENT__-trigger::part(trigger):hover {
  color: var(--capsule-color-text);
  background-color: var(--capsule-color-surface-variant);
}

__PREFIX__-__COMPONENT__-trigger[active]::part(trigger) {
  color: var(--capsule-color-primary);
  border-bottom-color: var(--capsule-color-primary);
  background-color: var(--capsule-color-surface);
}

__PREFIX__-__COMPONENT__-panels {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}

__PREFIX__-__COMPONENT__-panel {
  display: block;
  width: 100%;
  transition: transform 0.4s, opacity 0.4s, height 0.4s;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  opacity: 0;
}

__PREFIX__-__COMPONENT__-panel[active] {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

__PREFIX__-__COMPONENT__-panels[animation='x']
  __PREFIX__-__COMPONENT__-panel[active] {
  transform: translateX(0);
}
__PREFIX__-__COMPONENT__-panels[animation='x']
  __PREFIX__-__COMPONENT__-panel[active]
  ~ __PREFIX__-__COMPONENT__-panel {
  transform: translateX(100%);
  opacity: 0;
}
__PREFIX__-__COMPONENT__-panels[animation='x']
  __PREFIX__-__COMPONENT__-panel:not([active]) {
  transform: translateX(-100%);
  opacity: 0;
}
__PREFIX__-__COMPONENT__-panels[animation='x']
  __PREFIX__-__COMPONENT__-panel[active]
  ~ __PREFIX__-__COMPONENT__-panel:not([active]) {
  transform: translateX(100%);
  opacity: 0;
}

__PREFIX__-__COMPONENT__-panels[animation='y']
  __PREFIX__-__COMPONENT__-panel[active] {
  transform: translateY(0);
}
__PREFIX__-__COMPONENT__-panels[animation='y']
  __PREFIX__-__COMPONENT__-panel[active]
  ~ __PREFIX__-__COMPONENT__-panel {
  transform: translateY(100%);
  opacity: 0;
}
__PREFIX__-__COMPONENT__-panels[animation='y']
  __PREFIX__-__COMPONENT__-panel:not([active]) {
  transform: translateY(-100%);
  opacity: 0;
}
__PREFIX__-__COMPONENT__-panels[animation='y']
  __PREFIX__-__COMPONENT__-panel[active]
  ~ __PREFIX__-__COMPONENT__-panel:not([active]) {
  transform: translateY(100%);
  opacity: 0;
}

__PREFIX__-__COMPONENT__-panels[animation='fade']
  __PREFIX__-__COMPONENT__-panel {
  opacity: 0;
  transition: opacity 0.4s, height 0.4s;
}
__PREFIX__-__COMPONENT__-panels[animation='fade']
  __PREFIX__-__COMPONENT__-panel[active] {
  opacity: 1;
}
