capsule-accordion {
  display: block;
  width: 100%;
}

capsule-accordion-panel {
  display: grid;
  margin-bottom: var(--capsule-margin-sm);
  overflow: hidden;
  transition: var(--capsule-transition-slow);
}

capsule-accordion-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  font-size: inherit;
  color: inherit;
}

capsule-accordion-content {
  overflow: hidden;
}

capsule-accordion-panel[open='true'],
capsule-accordion-panel[open] {
  grid-template-rows: min-content 1fr;
}

capsule-accordion-panel,
capsule-accordion-panel[open='false'] {
  grid-template-rows: min-content 0fr;
}
