capsule-button-group {
  display: inline-flex;
}

capsule-button-group:not([orientation="vertical"]) *:first-child:not(:last-child),
capsule-button-group[orientation="horizontal"] *:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

capsule-button-group:not([orientation="vertical"]) *:not(:first-child):not(:last-child),
capsule-button-group[orientation="horizontal"] *:not(:first-child):not(:last-child) {
  border-radius: 0;
}

capsule-button-group:not([orientation="vertical"]) *:last-child:not(:first-child),
capsule-button-group[orientation="horizontal"] *:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

capsule-button-group[orientation="vertical"] *:first-child:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

capsule-button-group[orientation="vertical"] *:not(:first-child):not(:last-child) {
  border-radius: 0;
}

capsule-button-group[orientation="vertical"] *:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

capsule-button-group[orientation='horizontal'] {
  flex-direction: row;
}

capsule-button-group[orientation='vertical'] {
  flex-direction: column;
}

