__PREFIX__-__COMPONENT__ {
  display: block;
  width: 100%;
}

__PREFIX__-__COMPONENT__-panel {
  display: grid;
  margin-bottom: var(--capsule-margin-sm);
  overflow: hidden;
  transition: var(--capsule-transition-slow);
}

__PREFIX__-__COMPONENT__-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  font-size: inherit;
  color: inherit;
}

__PREFIX__-__COMPONENT__-content {
  overflow: hidden;
}

__PREFIX__-__COMPONENT__-panel[open='true'],
__PREFIX__-__COMPONENT__-panel[open] {
  grid-template-rows: min-content 1fr;
}

__PREFIX__-__COMPONENT__-panel,
__PREFIX__-__COMPONENT__-panel[open='false'] {
  grid-template-rows: min-content 0fr;
}
