__PREFIX__-__COMPONENT__ {
  display: block;
  width: 100%;
}

__PREFIX__-__COMPONENT__-item {
  display: grid;
  grid-template-rows: min-content 0fr;
  margin-bottom: 0.5rem;
  overflow: hidden;
  transition: grid-template-rows 300ms ease-in-out;
  box-shadow: var(--capsule-shadow);
}

__PREFIX__-__COMPONENT__-item::part(trigger) {
  display: block;
  cursor: pointer;
  user-select: none;
}

__PREFIX__-__COMPONENT__-item::part(trigger):hover {
  background-color: var(--capsule-color-surface);
}

__PREFIX__-__COMPONENT__-item::part(content) {
  overflow: hidden;
}

__PREFIX__-__COMPONENT__-item[open] {
  grid-template-rows: min-content 1fr;
}
