:root {
  --capsule-color-primary: #4f46e5;
  --capsule-radius: 8px;
  --capsule-gap: 8px;

  --capsule-ripple-color: #ffffff80;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inherit;
}
