capsule-accordion {
  display: block;
  width: 100%;
}

capsule-accordion-item {
  display: grid;
  grid-template-rows: min-content 0fr;
  margin-bottom: 0.5rem;
  overflow: hidden;
  transition: grid-template-rows 300ms ease-in-out;
  box-shadow: var(--capsule-shadow);
}

capsule-accordion-item::part(trigger) {
  display: block;
  cursor: pointer;
}

capsule-accordion-item::part(trigger):hover {
  background-color: var(--capsule-color-outline-border);
}

capsule-accordion-item::part(content) {
  overflow: hidden;
}

capsule-accordion-item[open] {
  grid-template-rows: min-content 1fr;
}
