capsule-tabs {
  width: 100%;
  overflow: hidden;
}

capsule-tabs::part(panels-container) {
  overflow: hidden;
  position: relative;
}

capsule-tabs-list {
  display: flex;
  border-bottom: 1px solid var(--capsule-color-outline-variant);
  margin-bottom: var(--capsule-margin-md);
  gap: 1rem;
}

/* Стили для capsule-tabs-trigger */
capsule-tabs-trigger::part(trigger) {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: var(--capsule-color-text-secondary);
  font-weight: var(--capsule-font-weight-medium);
  transition: var(--capsule-transition);
}

capsule-tabs-trigger::part(trigger):hover {
  color: var(--capsule-color-text);
  background-color: var(--capsule-color-surface-variant);
}

capsule-tabs-trigger[active]::part(trigger) {
  color: var(--capsule-color-primary);
  border-bottom-color: var(--capsule-color-primary);
  background-color: var(--capsule-color-surface);
}

capsule-tabs-panels {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}

capsule-tabs-panel {
  display: block;
  width: 100%;
  transition: transform 0.4s, opacity 0.4s, height 0.4s;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  opacity: 0;
}

/* Активная панель */
capsule-tabs-panel[active] {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

/* X-анимация с братьями */
capsule-tabs-panels[animation='x']
  capsule-tabs-panel[active] {
  transform: translateX(0);
}
capsule-tabs-panels[animation='x']
  capsule-tabs-panel[active]
  ~ capsule-tabs-panel {
  transform: translateX(100%);
  opacity: 0;
}
capsule-tabs-panels[animation='x']
  capsule-tabs-panel:not([active]) {
  transform: translateX(-100%);
  opacity: 0;
}
capsule-tabs-panels[animation='x']
  capsule-tabs-panel[active]
  ~ capsule-tabs-panel:not([active]) {
  transform: translateX(100%);
  opacity: 0;
}

/* Y-анимация с братьями */
capsule-tabs-panels[animation='y']
  capsule-tabs-panel[active] {
  transform: translateY(0);
}
capsule-tabs-panels[animation='y']
  capsule-tabs-panel[active]
  ~ capsule-tabs-panel {
  transform: translateY(100%);
  opacity: 0;
}
capsule-tabs-panels[animation='y']
  capsule-tabs-panel:not([active]) {
  transform: translateY(-100%);
  opacity: 0;
}
capsule-tabs-panels[animation='y']
  capsule-tabs-panel[active]
  ~ capsule-tabs-panel:not([active]) {
  transform: translateY(100%);
  opacity: 0;
}

/* Fade-анимация */
capsule-tabs-panels[animation='fade']
  capsule-tabs-panel {
  opacity: 0;
  transition: opacity 0.4s, height 0.4s;
}
capsule-tabs-panels[animation='fade']
  capsule-tabs-panel[active] {
  opacity: 1;
}
