capsule-stepper {
  display: flex;
  flex-direction: column;
  gap: var(--capsule-margin-md);
}

capsule-stepper[orientation='vertical'] {
  flex-direction: row;
}

capsule-stepper-steps {
  display: flex;
  justify-content: space-between;
}

capsule-stepper[orientation='vertical']
  capsule-stepper-steps {
  flex-direction: column;
}

capsule-stepper-step {
  display: flex;
  align-items: center;
  gap: var(--capsule-margin-sm);
  position: relative;
  flex: 1;
  justify-content: center;
}

capsule-stepper-panels {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}

capsule-stepper[orientation='vertical']
  capsule-stepper-panels {
  flex-direction: column;
}

capsule-stepper-panel {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.4s, opacity 0.4s;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  opacity: 0;
}

capsule-stepper-panel[status='active'] {
  opacity: 1;
  pointer-events: auto;
  position: relative;
  transform: translateX(0);
}

capsule-stepper-panels[animation='x']
  capsule-stepper-panel[status='active'] {
  transform: translateX(0);
}

capsule-stepper-panels[animation='x']
  capsule-stepper-panel[status='active']
  ~ capsule-stepper-panel {
  transform: translateX(100%);
}

capsule-stepper-panels[animation='x']
  capsule-stepper-panel:not([status='active']) {
  transform: translateX(-100%);
}

capsule-stepper-panels[animation='y']
  capsule-stepper-panel[status='active'] {
  transform: translateY(0);
}

capsule-stepper-panels[animation='y']
  capsule-stepper-panel[status='active']
  ~ capsule-stepper-panel {
  transform: translateY(100%);
}

capsule-stepper-panels[animation='y']
  capsule-stepper-panel:not([status='active']) {
  transform: translateY(-100%);
}
