/* Stepper Container */
__PREFIX__-__COMPONENT__ {
  display: flex;
  flex-direction: column;
  gap: var(--capsule-margin-md);
}

__PREFIX__-__COMPONENT__[orientation='vertical'] {
  flex-direction: row;
}

/* Stepper Steps */
__PREFIX__-__COMPONENT__-steps {
  display: flex;
  justify-content: space-between;
}

/* Stepper Step */
__PREFIX__-__COMPONENT__-step {
  display: flex;
  align-items: center;
  gap: var(--capsule-margin-sm);
  position: relative;
  flex: 1;
  justify-content: center;
}

/* Stepper Content */
__PREFIX__-__COMPONENT__-content {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

__PREFIX__-__COMPONENT__-content[status='inactive'],
__PREFIX__-__COMPONENT__-content[status='completed'] {
  display: none;
}

/* Stepper Item */
__PREFIX__-__COMPONENT__-item {
  display: none;
}

__PREFIX__-__COMPONENT__-item[status='active'] {
  display: block;
  animation: capsule-fade-in 0.3s ease-in-out;
}

@keyframes capsule-fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
