__PREFIX__-__COMPONENT__ {
  display: inline-flex;
}

__PREFIX__-__COMPONENT__ *:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

__PREFIX__-__COMPONENT__ *:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

__PREFIX__-__COMPONENT__[orientation='horizontal'] {
  flex-direction: row;
}

__PREFIX__-__COMPONENT__[orientation='vertical'] {
  flex-direction: column;
}

