__PREFIX__-__COMPONENT__ {
  display: block;
  margin: 0.5rem 0;
  padding: 0;
  border: none;
  background-color: #e5e7eb;
  width: 100%;
  height: 1px;
}

__PREFIX__-__COMPONENT__[orientation='vertical'] {
  width: 1px;
  height: 100%;
  margin: 0 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
