capsule-autocomplete {
  display: inline-flex;
  position: relative;
  flex-direction: column;
}

capsule-autocomplete-options {
  display: none;
}
capsule-autocomplete:focus-within capsule-autocomplete-options {
  display: block;
}
